body {
	font-family: helvetica;
    margin: 0px;
}

h1 {
	font-family: impact, helvetica;
}

.userbar {
    float: right;
}

.navbar a {
	margin-right: 15px;
}

.fieldWrapper div {
    width: 100px;
    display: inline-block;
    text-align: right;
}

.fieldWrapper input, .fieldWrapper select {
    width: 300px;
}

.fieldWrapper p {
    margin: 0 0 0 105px;
}

.taglist {
    width: 8%;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: inline-block;
    float: left;
    border-right: 1px solid black;
}

.taglist li {
    margin-bottom: 5px;
}

.tagmessagelist {
    width: 50%;
    padding-left: 5px;
    display: inline-block;
}

.tagmessage {
    width: 100%;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
    display: inline-block;
}

.subject {
}

.sender {
}

.snippet {
    color: #888888;
    margin-top: 2px;
    margin-bottom: 0px;
}

.success {
	color: #00ff00;
}

.error {
	color: #ff0000;
}
