body {
	font-family: helvetica;
}

h1 {
	font-family: impact, helvetica;
}

.userbar {
    float: right;
}

.navbar a {
	margin-right: 15px;
}

.fieldWrapper div {
    width: 100px;
    display: inline-block;
    text-align: right;
}

.fieldWrapper input, .fieldWrapper select {
    width: 300px;
}

.fieldWrapper p {
    margin: 0 0 0 105px;
}

.taglist {
    width: 10%;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: inline-block;
    float: left;
}

.taglist li {
    margin-bottom: 5px;
    padding: 0 5px 0 5px;
}

.taglist li.selected {
    background-color: #551A8B;
    border-radius: 7px;
    -moz-border-radius: 7px;
}

.taglist li.selected a {
    color: #fff;
}

.tagthreadlist {
    width: 50%;
    padding-left: 5px;
    display: inline-block;
    border-left: 1px solid black;
    float: left;
}

.tagthread {
    width: 100%;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
    display: inline-block;
    padding: 5px 0 5px 0;
}

.subject {
}

.sender {
}

.snippet {
    color: #888;
    margin-top: 2px;
    margin-bottom: 0px;
}

.tag {
    color: #fff;
    background-color: #aaa;
    border-radius: 7px;
    -moz-border-radius: 7px;
    padding: 0 5px 0 5px;
    margin-right: 5px;
}

.success {
	color: #00ff00;
}

.error {
	color: #ff0000;
}
