<form action="{{action}}" method="post" enctype="multipart/form-data">
    {% for field in form %}
    <div class="clearfix">
        {{ field.errors }}
        {{ field.label_tag }} 
        <div class="input">{{ field }}
        {% if field.help_text %}<span class="help-inline">{{field.help_text}}</span>{% endif %}
        </div>
    </div>
    {% endfor %}
    <div class="clearfix">
        <div class="input">
            <input class="btn" type="submit" value="Submit" /></p>
        </div>
    </div>
</form>
