{% extends "base.html" %}

{% block extrastyle %}

{% endblock extrastyle %}

{% block content %}

{% if selected == "all-your-threads" %}<h3>Showing all your threads</h3>
{% else %}{% if selected == "all-threads" %}<h3>Showing all threads</h3>
{% else %}<h3>Showing threads tagged "{{selected}}"</h3>{% endif %}{% endif %}

<ul class="taglist">
    <li {% if selected == "all-your-threads" %}class="selected"{% endif%}><a href="{% url home %}?special=all-your-threads">All your threads</a></li>
{% for t in subscribedtags %}
    <li {% if selected == t %}class="selected"{% endif%}><a href="{% url home %}?tag={{t.slug}}">{{t}}</a></li>
{% endfor %}
    <li {% if selected == "all-threads" %}class="selected"{% endif%}><a href="{% url home %}?special=all-threads">All threads</a></li>
</ul>

<div class="tagthreadlist">
{% for thread in tagthreads %}
	<a class="tagthread" href="{% url tagmail_view_thread thread.pk thread.slug %}">
	    <span class="subject">{{thread.subject}}</span> - <span class="sender">{{thread.messages.all.0.sender.get_full_name}}</span>
        <p class="snippet">{{thread.messages.all.0.body|truncatewords:15}}</p>
        {% for t in thread.tags.all %}<span class="tag">{{t}}</span>{% endfor %}
	</a>
{% endfor %}
</div>
</div>
<div style="display: inline-block;">
<h3>Start a new thread</h3>
{% with "" as action %}
    {% include "general/generic_form.html" %}
{% endwith %}
</div>
{% endblock content %}
