{% extends "base.html" %}

{% block extrastyle %}

{% endblock extrastyle %}

{% block content %}

<ul class="taglist">
{% for t in subscribedtags %}
    <li><a href="#">{{t}}</a></li>
{% endfor %}
</ul>
<div class="tagmessagelist">
{% for msg in tagmessages %}
	<a class="tagmessage" href="#">
	    <span class="subject">{{msg.subject}}</span> - <span class="sender">{{msg.sender.first_name}} {{msg.sender.last_name}}</span>
        <p class="snippet">{{msg.body|truncatewords:8}}</p>
	</a>
{% endfor %}
</div>
{% endblock content %}
